@font-face {
    font-family: PixelGame;
    src: url(press-start-2p-font/PressStart2P-vaV7.ttf);
}
@font-face {
    font-family: Pixel-Noir;
    src: url(fonts/);
}

@keyframes typingFrame {
    to {
        bottom: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-prim: PixelGame;
    
    --cor1: white;
    --cor2: black;
    --cor3: rgb(137, 137, 137);
    --cor4: rgb(190, 66, 66);

    font-size: 62.5%;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: var(--cor2);
}

section{
    width: 32.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: var(--font-prim); 
    font-weight: lighter;
    line-height: 1rem;
    color: var(--cor1);

    transform: translateY(-25%);
}

div{
    background-color: var(--cor2);
    align-self: center;
    height: 50%;
    text-align: center;
    border: 0.3rem solid var(--cor1);
}

h1{
    padding: 1rem;
    margin-top: 1rem;
}

h2{
    margin-top: 0.2;
}

p{
    align-items: center;
    padding: 1.0rem;
}

a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;

    display: block;

    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--cor1);
}

.btn{
    width: 33%;
    background-color: var(--cor1);
    
    font-family: var(--font-prim); 
    font-size: 1rem;

    padding: 0.5rem;
    margin-top: 0.5rem;

    border-style: none;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--cor2);
}
.btn:hover, .btn-grande:hover{
    background-color: rgb(23, 23, 23);
    border: 0.2rem groove rgb(255, 255, 255);
}

.btn-grande {
    width: 100%;
}

.btn01, .btn02 {
    width: 50%;
}

.final-novo {
    background-color: red;
}

.typing {
    position: relative;
    color: var(--cor1);
}

.typing::before {
    animation: typingFrame 2s steps(10) forwards;
    background-color: var(--cor2);
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.titulo::before {
    animation: typingFrame 1s steps(5) forwards;
    background-color: var(--cor2);
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
}